# =========================
# Python
# =========================

__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# PyInstaller
# =========================

build/
dist/
*.spec

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Backup
# =========================

Backup*/
backup*/

# =========================
# Windows
# =========================

Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================

.DS_Store

# =========================
# Temporary Files
# =========================

*.tmp
*.bak
*.log